/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-attachment: scroll;
    /* background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230618/pngtree-visual-representation-of-an-electric-vehicle-being-charged-in-3d-image_3630808.jpg'); */
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 85%;
    backdrop-filter: blur(3px);
    background-color: #000;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    text-align: center;
    padding: 50px 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

p {
    color: #fff;
    text-align: justify;
    border: 2px solid #000; /* Define border width and color */
    padding: 30px; /* Add padding to create space between text and border */
    font-size: 20px;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
